interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://schema.org/
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n<!-- Generated from Home.j2
        -->\n    <head>\n    <title>Schema.org - Schema.org </title>\n    <meta charset=\"utf-8\"
        >\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <meta name=\"description\" content=\"Schema.org is a set of extensible
        schemas that enables webmasters to embed\n    structured data on their web
        pages for use by search engines and other applications.\" />\n    <link rel=\"shortcut
        icon\" type=\"image/png\" href=\"/docs/favicon.ico\"/>\n    <link rel=\"stylesheet\"
        type=\"text/css\" href=\"/docs/schemaorg.css\" />\n    <link rel=\"stylesheet\"
        type=\"text/css\" href=\"/docs/devnote.css\" />\n    <link rel=\"stylesheet\"
        type=\"text/css\" href=\"/docs/prettify.css\" />\n    <link rel=\"stylesheet\"
        type=\"text/css\" href=\"/docs/devnote.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n
        \   <script src=\"/docs/schemaorg.js\"></script>\n    \n    \n</head>\n<body>\n
        \   <!-- Header start from PageHeader.j2 -->\n<!-- Static Doc Insert PageHead
        -->\n\n<div id=\"container\">\n  <div id=\"headerwrap\">\n    <div id=\"pagehead1\"
        class=\"mobnav\">\n      <div class=\"header-block\" id=\"pagehead-left\">\n
        \       <div id=\"sitename2\">\n          <a href=\"/\">Schema.org</a>\n        </div>\n
        \       <div id=\"navicon2\">\n          <a href=\"javascript:void(0);\" class=\"icon\"
        onclick=\"navFunction()\"><img height=\"40\" alt=\"menu\" src=\"/docs/menu-bar-icon-white.png\"></a>\n
        \       </div>\n      </div>\n      <div  class=\"header-block header-block-right
        mobnav\" id=\"pagehead-mid\">\n        <div id=\"selectionbar2\">\n          <ul>\n
        \           <li>\n              <a href=\"/docs/documents.html\">Documentation</a>\n
        \           </li>\n            <li>\n              <a href=\"/docs/schemas.html\">Schemas</a>\n
        \           </li>\n            <li>\n              <a href=\"/docs/about.html\">About</a>\n
        \           </li>\n          <!--\n             <li>\n              <a href=\"/\">Home</a>\n
        \           </li>\n          -->\n          </ul>\n        </div> <!-- selectionbar
        -->\n      </div>\n      <div  class=\"header-block header-block-right mobnav\"
        id=\"pagehead-right\">\n        <div id=\"cse-search-form2\">\n            <div
        class=\"gcse-searchbox-only\" data-resultsUrl=\"/docs/search_results.html\"></div>\n
        \       </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"devnote\"><b>Note</b>:
        you are viewing the development\n    version of <a href=\"https://schema.org\">Schema.org</a>.\n
        \   See <a href=\"/docs/howwework.html\">How we work</a> for more details.\n
        \ </div>\n</div>\n  \n \n<!-- Header end from PageHeader.j2 -->\n    <div
        id=\"mainContent\">\n      <h1>Welcome to Schema.org</h1>\n\n\n        <p>\n
        \           Schema.org is a collaborative, community activity with a mission
        to create,\n            maintain, and promote schemas for structured data
        on the\n            Internet, on web pages, in email messages, and beyond.\n
        \       </p>\n\n        <p>\n            Schema.org vocabulary can be used
        with many different encodings,\n            including RDFa, Microdata and
        JSON-LD. These vocabularies c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://schema.org/docs/jsonldcontext.jsonld
  response:
    body:
      string: "{\n  \"@context\": {\n        \"type\": \"@type\",\n        \"id\":
        \"@id\",\n        \"HTML\": { \"@id\": \"rdf:HTML\" },\n\n        \"@vocab\":
        \"http://schema.org/\",\n        \"rdf\": \"http://www.w3.org/1999/02/22-rdf-syntax-ns#\",\n
        \       \"rdfs\": \"http://www.w3.org/2000/01/rdf-schema#\",\n        \"xsd\":
        \"http://www.w3.org/2001/XMLSchema#\",\n        \"schema\": \"http://schema.org/\",\n
        \       \"owl\": \"http://www.w3.org/2002/07/owl#\",\n        \"dc\": \"http://purl.org/dc/elements/1.1/\",\n
        \       \"dct\": \"http://purl.org/dc/terms/\",\n        \"dctype\": \"http://purl.org/dc/dcmitype/\",\n
        \       \"void\": \"http://rdfs.org/ns/void#\",\n        \"dcat\": \"http://www.w3.org/ns/dcat#\",\n
        \       \"3DModel\": {\"@id\": \"schema:3DModel\"},\n        \"AMRadioChannel\":
        {\"@id\": \"schema:AMRadioChannel\"},\n        \"APIReference\": {\"@id\":
        \"schema:APIReference\"},\n        \"Abdomen\": {\"@id\": \"schema:Abdomen\"},\n
        \       \"AboutPage\": {\"@id\": \"schema:AboutPage\"},\n        \"AcceptAction\":
        {\"@id\": \"schema:AcceptAction\"},\n        \"Accommodation\": {\"@id\":
        \"schema:Accommodation\"},\n        \"AccountingService\": {\"@id\": \"schema:AccountingService\"},\n
        \       \"AchieveAction\": {\"@id\": \"schema:AchieveAction\"},\n        \"Action\":
        {\"@id\": \"schema:Action\"},\n        \"ActionAccessSpecification\": {\"@id\":
        \"schema:ActionAccessSpecification\"},\n        \"ActionStatusType\": {\"@id\":
        \"schema:ActionStatusType\"},\n        \"ActivateAction\": {\"@id\": \"schema:ActivateAction\"},\n
        \       \"ActivationFee\": {\"@id\": \"schema:ActivationFee\"},\n        \"ActiveActionStatus\":
        {\"@id\": \"schema:ActiveActionStatus\"},\n        \"ActiveNotRecruiting\":
        {\"@id\": \"schema:ActiveNotRecruiting\"},\n        \"AddAction\": {\"@id\":
        \"schema:AddAction\"},\n        \"AdministrativeArea\": {\"@id\": \"schema:AdministrativeArea\"},\n
        \       \"AdultEntertainment\": {\"@id\": \"schema:AdultEntertainment\"},\n
        \       \"AdvertiserContentArticle\": {\"@id\": \"schema:AdvertiserContentArticle\"},\n
        \       \"AerobicActivity\": {\"@id\": \"schema:AerobicActivity\"},\n        \"AggregateOffer\":
        {\"@id\": \"schema:AggregateOffer\"},\n        \"AggregateRating\": {\"@id\":
        \"schema:AggregateRating\"},\n        \"AgreeAction\": {\"@id\": \"schema:AgreeAction\"},\n
        \       \"Airline\": {\"@id\": \"schema:Airline\"},\n        \"Airport\":
        {\"@id\": \"schema:Airport\"},\n        \"AlbumRelease\": {\"@id\": \"schema:AlbumRelease\"},\n
        \       \"AlignmentObject\": {\"@id\": \"schema:AlignmentObject\"},\n        \"AllWheelDriveConfiguration\":
        {\"@id\": \"schema:AllWheelDriveConfiguration\"},\n        \"AllergiesHealthAspect\":
        {\"@id\": \"schema:AllergiesHealthAspect\"},\n        \"AllocateAction\":
        {\"@id\": \"schema:AllocateAction\"},\n        \"AmpStory\": {\"@id\": \"schema:AmpStory\"},\n
        \       \"AmusementPark\": {\"@id\": \"schema:AmusementPark\"},\n        \"AnaerobicActivity\":
        {\"@id\": \"schema:AnaerobicActivity\"},\n        \"AnalysisNewsArticle\":
        {\"@id\": \"schema:AnalysisNewsArticle\"},\n        \"AnatomicalStructure\":
        {\"@id\": \"schema:AnatomicalStructure\"},\n        \"AnatomicalSystem\":
        {\"@id\": \"schema:AnatomicalSystem\"},\n        \"Anesthesia\": {\"@id\":
        \"schema:Anesthesia\"},\n        \"AnimalShelter\": {\"@id\": \"schema:AnimalShelter\"},\n
        \       \"Answer\": {\"@id\": \"schema:Answer\"},\n        \"Apartment\":
        {\"@id\": \"schema:Apartment\"},\n        \"ApartmentComplex\": {\"@id\":
        \"schema:ApartmentComplex\"},\n        \"Appearance\": {\"@id\": \"schema:Appearance\"},\n
        \       \"AppendAction\": {\"@id\": \"schema:AppendAction\"},\n        \"ApplyAction\":
        {\"@id\": \"schema:ApplyAction\"},\n        \"ApprovedIndication\": {\"@id\":
        \"schema:ApprovedIndication\"},\n        \"Aquarium\": {\"@id\": \"schema:Aquarium\"},\n
        \       \"ArchiveComponent\": {\"@id\": \"schema:ArchiveComponent\"},\n        \"ArchiveOrganization\":
        {\"@id\": \"schema:ArchiveOrganization\"},\n        \"ArriveAction\": {\"@id\":
        \"schema:ArriveAction\"},\n        \"ArtGallery\": {\"@id\": \"schema:ArtGallery\"},\n
        \       \"Artery\": {\"@id\": \"schema:Artery\"},\n        \"Article\": {\"@id\":
        \"schema:Article\"},\n        \"AskAction\": {\"@id\": \"schema:AskAction\"},\n
        \       \"AskPublicNewsArticle\": {\"@id\": \"schema:AskPublicNewsArticle\"},\n
        \       \"AssessAction\": {\"@id\": \"schema:AssessAction\"},\n        \"AssignAction\":
        {\"@id\": \"schema:AssignAction\"},\n        \"Atlas\": {\"@id\": \"schema:Atlas\"},\n
        \       \"Attorney\": {\"@id\": \"schema:Attorney\"},\n        \"Audience\":
        {\"@id\": \"schema:Audience\"},\n        \"AudioObject\": {\"@id\": \"schema:AudioObject\"},\n
        \       \"AudioObjectSnapshot\": {\"@id\": \"schema:AudioObjectSnapshot\"},\n
        \       \"Audiobook\": {\"@id\": \"schema:Audiobook\"},\n        \"AudiobookFormat\":
        {\"@id\": \"schema:AudiobookFormat\"},\n        \"AuthoritativeLegalValue\":
        {\"@id\": \"schema:AuthoritativeLegalValue\"},\n        \"AuthorizeAction\":
        {\"@id\": \"schema:AuthorizeAction\"},\n        \"AutoBodyShop\": {\"@id\":
        \"schema:AutoBodyShop\"},\n        \"AutoDealer\": {\"@id\": \"schema:AutoDealer\"},\n
        \       \"AutoPartsStore\": {\"@id\": \"schema:AutoPartsStore\"},\n        \"AutoRental\":
        {\"@id\": \"schema:AutoRental\"},\n        \"AutoRepair\": {\"@id\": \"schema:AutoRepair\"},\n
        \       \"AutoWash\": {\"@id\": \"schema:AutoWash\"},\n        \"AutomatedTeller\":
        {\"@id\": \"schema:AutomatedTeller\"},\n        \"AutomotiveBusiness\": {\"@id\":
        \"schema:AutomotiveBusiness\"},\n        \"Ayurvedic\": {\"@id\": \"schema:Ayurvedic\"},\n
        \       \"BackOrder\": {\"@id\": \"schema:BackOrder\"},\n        \"BackgroundNewsArticle\":
        {\"@id\": \"schema:BackgroundNewsArticle\"},\n        \"Bacteria\": {\"@id\":
        \"schema:Bacteria\"},\n        \"Bakery\": {\"@id\": \"schema:Bakery\"},\n
        \       \"Balance\": {\"@id\": \"schema:Balance\"},\n        \"BankAccount\":
        {\"@id\": \"schema:BankAccount\"},\n        \"BankOrCreditUnion\": {\"@id\":
        \"schema:BankOrCreditUnion\"},\n        \"BarOrPub\": {\"@id\": \"schema:BarOrPub\"},\n
        \       \"Barcode\": {\"@id\": \"schema:Barcode\"},\n        \"BasicIncome\":
        {\"@id\": \"schema:BasicIncome\"},\n        \"Beach\": {\"@id\": \"schema:Beach\"},\n
        \       \"BeautySalon\": {\"@id\": \"schema:BeautySalon\"},\n        \"BedAndBreakfast\":
        {\"@id\": \"schema:BedAndBreakfast\"},\n        \"BedDetails\": {\"@id\":
        \"schema:BedDetails\"},\n        \"BedType\": {\"@id\": \"schema:BedType\"},\n
        \       \"BefriendAction\": {\"@id\": \"schema:BefriendAction\"},\n        \"BenefitsHealthAspect\":
        {\"@id\": \"schema:BenefitsHealthAspect\"},\n        \"BikeStore\": {\"@id\":
        \"schema:BikeStore\"},\n        \"BioChemEntity\": {\"@id\": \"schema:BioChemEntity\"},\n
        \       \"Blog\": {\"@id\": \"schema:Blog\"},\n        \"BlogPosting\": {\"@id\":
        \"schema:BlogPosting\"},\n        \"BloodTest\": {\"@id\": \"schema:BloodTest\"},\n
        \       \"BoardingPolicyType\": {\"@id\": \"schema:BoardingPolicyType\"},\n
        \       \"BoatReservation\": {\"@id\": \"schema:BoatReservation\"},\n        \"BoatTerminal\":
        {\"@id\": \"schema:BoatTerminal\"},\n        \"BoatTrip\": {\"@id\": \"schema:BoatTrip\"},\n
        \       \"BodyMeasurementArm\": {\"@id\": \"schema:BodyMeasurementArm\"},\n
        \       \"BodyMeasurementBust\": {\"@id\": \"schema:BodyMeasurementBust\"},\n
        \       \"BodyMeasurementChest\": {\"@id\": \"schema:BodyMeasurementChest\"},\n
        \       \"BodyMeasurementFoot\": {\"@id\": \"schema:BodyMeasurementFoot\"},\n
        \       \"BodyMeasurementHand\": {\"@id\": \"schema:BodyMeasurementHand\"},\n
        \       \"BodyMeasurementHead\": {\"@id\": \"schema:BodyMeasurementHead\"},\n
        \       \"BodyMeasurementHeight\": {\"@id\": \"schema:BodyMeasurementHeight\"},\n
        \       \"BodyMeasurementHips\": {\"@id\": \"schema:BodyMeasurementHips\"},\n
        \       \"BodyMeasurementInsideLeg\": {\"@id\": \"schema:BodyMeasurementInsideLeg\"},\n
        \       \"BodyMeasurementNeck\": {\"@id\": \"schema:BodyMeasurementNeck\"},\n
        \       \"BodyMeasurementTypeEnumeration\": {\"@id\": \"schema:BodyMeasurementTypeEnumeration\"},\n
        \       \"BodyMeasurementUnderbust\": {\"@id\": \"schema:BodyMeasurementUnderbust\"},\n
        \       \"BodyMeasurementWaist\": {\"@id\": \"schema:BodyMeasurementWaist\"},\n
        \       \"BodyMeasurementWeight\": {\"@id\": \"schema:BodyMeasurementWeight\"},\n
        \       \"BodyOfWater\": {\"@id\": \"schema:BodyOfWater\"},\n        \"Bone\":
        {\"@id\": \"schema:Bone\"},\n        \"Book\": {\"@id\": \"schema:Book\"},\n
        \       \"BookFormatType\": {\"@id\": \"schema:BookFormatType\"},\n        \"BookSeries\":
        {\"@id\": \"schema:BookSeries\"},\n        \"BookStore\": {\"@id\": \"schema:BookStore\"},\n
        \       \"BookmarkAction\": {\"@id\": \"schema:BookmarkAction\"},\n        \"Boolean\":
        {\"@id\": \"schema:Boolean\"},\n        \"BorrowAction\": {\"@id\": \"schema:BorrowAction\"},\n
        \       \"BowlingAlley\": {\"@id\": \"schema:BowlingAlley\"},\n        \"BrainStructure\":
        {\"@id\": \"schema:BrainStructure\"},\n        \"Brand\": {\"@id\": \"schema:Brand\"},\n
        \       \"BreadcrumbList\": {\"@id\": \"schema:BreadcrumbList\"},\n        \"Brewery\":
        {\"@id\": \"schema:Brewery\"},\n        \"Bridge\": {\"@id\": \"schema:Bridge\"},\n
        \       \"BroadcastChannel\": {\"@id\": \"schema:BroadcastChannel\"},\n        \"BroadcastEvent\":
        {\"@id\": \"schema:BroadcastEvent\"},\n        \"BroadcastFrequencySpecification\":
        {\"@id\": \"schema:BroadcastFrequencySpecification\"},\n        \"BroadcastRelease\":
        {\"@id\": \"schema:BroadcastRelease\"},\n        \"BroadcastService\": {\"@id\":
        \"schema:BroadcastService\"},\n        \"BrokerageAccount\": {\"@id\": \"schema:BrokerageAccount\"},\n
        \       \"BuddhistTemple\": {\"@id\": \"schema:BuddhistTemple\"},\n        \"BusOrCoach\":
        {\"@id\": \"schema:BusOrCoach\"},\n        \"BusReservation\": {\"@id\": \"schema:BusReservation\"},\n
        \       \"BusStation\": {\"@id\": \"schema:BusStation\"},\n        \"BusStop\":
        {\"@id\": \"schema:BusStop\"},\n        \"BusTrip\": {\"@id\": \"schema:BusTrip\"},\n
        \       \"BusinessAudience\": {\"@id\": \"schema:BusinessAudience\"},\n        \"BusinessEntityType\":
        {\"@id\": \"schema:BusinessEntityType\"},\n        \"BusinessEvent\": {\"@id\":
        \"schema:BusinessEvent\"},\n        \"BusinessFunction\": {\"@id\": \"schema:BusinessFunction\"},\n
        \       \"BusinessSupport\": {\"@id\": \"schema:BusinessSupport\"},\n        \"BuyAction\":
        {\"@id\": \"schema:BuyAction\"},\n        \"CDCPMDRecord\": {\"@id\": \"schema:CDCPMDRecord\"},\n
        \       \"CDFormat\": {\"@id\": \"schema:CDFormat\"},\n        \"CT\": {\"@id\":
        \"schema:CT\"},\n        \"CableOrSatelliteService\": {\"@id\": \"schema:CableOrSatelliteService\"},\n
        \       \"CafeOrCoffeeShop\": {\"@id\": \"schema:CafeOrCoffeeShop\"},\n        \"Campground\":
        {\"@id\": \"schema:Campground\"},\n        \"CampingPitch\": {\"@id\": \"schema:CampingPitch\"},\n
        \       \"Canal\": {\"@id\": \"schema:Canal\"},\n        \"CancelAction\":
        {\"@id\": \"schema:CancelAction\"},\n        \"Car\": {\"@id\": \"schema:Car\"},\n
        \       \"CarUsageType\": {\"@id\": \"schema:CarUsageType\"},\n        \"Cardiovascular\":
        {\"@id\": \"schema:Cardiovascular\"},\n        \"CardiovascularExam\": {\"@id\":
        \"schema:CardiovascularExam\"},\n        \"CaseSeries\": {\"@id\": \"schema:CaseSeries\"},\n
        \       \"Casino\": {\"@id\": \"schema:Casino\"},\n        \"CassetteFormat\":
        {\"@id\": \"schema:CassetteFormat\"},\n        \"CategoryCode\": {\"@id\":
        \"schema:CategoryCode\"},\n        \"CategoryCodeSet\": {\"@id\": \"schema:CategoryCodeSet\"},\n
        \       \"CatholicChurch\": {\"@id\": \"schema:CatholicChurch\"},\n        \"CausesHealthAspect\":
        {\"@id\": \"schema:CausesHealthAspect\"},\n        \"Cemetery\": {\"@id\":
        \"schema:Cemetery\"},\n        \"Chapter\": {\"@id\": \"schema:Chapter\"},\n
        \       \"CharitableIncorporatedOrganization\": {\"@id\": \"schema:CharitableIncorporatedOrganization\"},\n
        \       \"CheckAction\": {\"@id\": \"schema:CheckAction\"},\n        \"CheckInAction\":
        {\"@id\": \"schema:CheckInAction\"},\n        \"CheckOutAction\": {\"@id\":
        \"schema:CheckOutAction\"},\n        \"CheckoutPage\": {\"@id\": \"schema:CheckoutPage\"},\n
        \       \"ChemicalSubstance\": {\"@id\": \"schema:ChemicalSubstance\"},\n
        \       \"ChildCare\": {\"@id\": \"schema:ChildCare\"},\n        \"ChildrensEvent\":
        {\"@id\": \"schema:ChildrensEvent\"},\n        \"Chiropractic\": {\"@id\":
        \"schema:Chiropractic\"},\n        \"ChooseAction\": {\"@id\": \"schema:ChooseAction\"},\n
        \       \"Church\": {\"@id\": \"schema:Church\"},\n        \"City\": {\"@id\":
        \"schema:City\"},\n        \"CityHall\": {\"@id\": \"schema:CityHall\"},\n
        \       \"CivicStructure\": {\"@id\": \"schema:CivicStructure\"},\n        \"Claim\":
        {\"@id\": \"schema:Claim\"},\n        \"ClaimReview\": {\"@id\": \"schema:ClaimReview\"},\n
        \       \"Class\": {\"@id\": \"schema:Class\"},\n        \"CleaningFee\":
        {\"@id\": \"schema:CleaningFee\"},\n        \"Clinician\": {\"@id\": \"schema:Clinician\"},\n
        \       \"Clip\": {\"@id\": \"schema:Clip\"},\n        \"ClothingStore\":
        {\"@id\": \"schema:ClothingStore\"},\n        \"CoOp\": {\"@id\": \"schema:CoOp\"},\n
        \       \"Code\": {\"@id\": \"schema:Code\"},\n        \"CohortStudy\": {\"@id\":
        \"schema:CohortStudy\"},\n        \"Collection\": {\"@id\": \"schema:Collection\"},\n
        \       \"CollectionPage\": {\"@id\": \"schema:CollectionPage\"},\n        \"CollegeOrUniversity\":
        {\"@id\": \"schema:CollegeOrUniversity\"},\n        \"ComedyClub\": {\"@id\":
        \"schema:ComedyClub\"},\n        \"ComedyEvent\": {\"@id\": \"schema:ComedyEvent\"},\n
        \       \"ComicCoverArt\": {\"@id\": \"schema:ComicCoverArt\"},\n        \"ComicIssue\":
        {\"@id\": \"schema:ComicIssue\"},\n        \"ComicSeries\": {\"@id\": \"schema:ComicSeries\"},\n
        \       \"ComicStory\": {\"@id\": \"schema:ComicStory\"},\n        \"Comment\":
        {\"@id\": \"schema:Comment\"},\n        \"CommentAction\": {\"@id\": \"schema:CommentAction\"},\n
        \       \"CommentPermission\": {\"@id\": \"schema:CommentPermission\"},\n
        \       \"CommunicateAction\": {\"@id\": \"schema:CommunicateAction\"},\n
        \       \"CommunityHealth\": {\"@id\": \"schema:CommunityHealth\"},\n        \"CompilationAlbum\":
        {\"@id\": \"schema:CompilationAlbum\"},\n        \"CompleteDataFeed\": {\"@id\":
        \"schema:CompleteDataFeed\"},\n        \"Completed\": {\"@id\": \"schema:Completed\"},\n
        \       \"CompletedActionStatus\": {\"@id\": \"schema:CompletedActionStatus\"},\n
        \       \"CompoundPriceSpecification\": {\"@id\": \"schema:CompoundPriceSpecification\"},\n
        \       \"ComputerLanguage\": {\"@id\": \"schema:ComputerLanguage\"},\n        \"ComputerStore\":
        {\"@id\": \"schema:ComputerStore\"},\n        \"ConfirmAction\": {\"@id\":
        \"schema:ConfirmAction\"},\n        \"Consortium\": {\"@id\": \"schema:Consortium\"},\n
        \       \"ConsumeAction\": {\"@id\": \"schema:ConsumeAction\"},\n        \"ContactPage\":
        {\"@id\": \"schema:ContactPage\"},\n        \"ContactPoint\": {\"@id\": \"schema:ContactPoint\"},\n
        \       \"ContactPointOption\": {\"@id\": \"schema:ContactPointOption\"},\n
        \       \"ContagiousnessHealthAspect\": {\"@id\": \"schema:ContagiousnessHealthAspect\"},\n
        \       \"Continent\": {\"@id\": \"schema:Continent\"},\n        \"ControlAction\":
        {\"@id\": \"schema:ControlAction\"},\n        \"ConvenienceStore\": {\"@id\":
        \"schema:ConvenienceStore\"},\n        \"Conversation\": {\"@id\": \"schema:Conversation\"},\n
        \       \"CookAction\": {\"@id\": \"schema:CookAction\"},\n        \"Corporation\":
        {\"@id\": \"schema:Corporation\"},\n        \"CorrectionComment\": {\"@id\":
        \"schema:CorrectionComment\"},\n        \"Country\": {\"@id\": \"schema:Country\"},\n
        \       \"Course\": {\"@id\": \"schema:Course\"},\n        \"CourseInstance\":
        {\"@id\": \"schema:CourseInstance\"},\n        \"Courthouse\": {\"@id\": \"schema:Courthouse\"},\n
        \       \"CoverArt\": {\"@id\": \"schema:CoverArt\"},\n        \"CovidTestingFacility\":
        {\"@id\": \"schema:CovidTestingFacility\"},\n        \"CreateAction\": {\"@id\":
        \"schema:CreateAction\"},\n        \"CreativeWork\": {\"@id\": \"schema:CreativeWork\"},\n
        \       \"CreativeWorkSeason\": {\"@id\": \"schema:CreativeWorkSeason\"},\n
        \       \"CreativeWorkSeries\": {\"@id\": \"schema:CreativeWorkSeries\"},\n
        \       \"CreditCard\": {\"@id\": \"schema:CreditCard\"},\n        \"Crematorium\":
        {\"@id\": \"schema:Crematorium\"},\n        \"CriticReview\": {\"@id\": \"schema:CriticReview\"},\n
        \       \"CrossSectional\": {\"@id\": \"schema:CrossSectional\"},\n        \"CssSelectorType\":
        {\"@id\": \"schema:CssSelectorType\"},\n        \"CurrencyConversionService\":
        {\"@id\": \"schema:CurrencyConversionService\"},\n        \"DDxElement\":
        {\"@id\": \"schema:DDxElement\"},\n        \"DJMixAlbum\": {\"@id\": \"schema:DJMixAlbum\"},\n
        \       \"DVDFormat\": {\"@id\": \"schema:DVDFormat\"},\n        \"DamagedCondition\":
        {\"@id\": \"schema:DamagedCondition\"},\n        \"DanceEvent\": {\"@id\":
        \"schema:DanceEvent\"},\n        \"DanceGroup\": {\"@id\": \"schema:DanceGroup\"},\n
        \       \"DataCatalog\": {\"@id\": \"schema:DataCatalog\"},\n        \"DataDownload\":
        {\"@id\": \"schema:DataDownload\"},\n        \"DataFeed\": {\"@id\": \"schema:DataFeed\"},\n
        \       \"DataFeedItem\": {\"@id\": \"schema:DataFeedItem\"},\n        \"DataType\":
        {\"@id\": \"schema:DataType\"},\n        \"Dataset\": {\"@id\": \"schema:Dataset\"},\n
        \       \"Date\": {\"@id\": \"schema:Date\"},\n        \"DateTime\": {\"@id\":
        \"schema:DateTime\"},\n        \"DatedMoneySpecification\": {\"@id\": \"schema:DatedMoneySpecification\"},\n
        \       \"DayOfWeek\": {\"@id\": \"schema:DayOfWeek\"},\n        \"DaySpa\":
        {\"@id\": \"schema:DaySpa\"},\n        \"DeactivateAction\": {\"@id\": \"schema:DeactivateAction\"},\n
        \       \"DecontextualizedContent\": {\"@id\": \"schema:DecontextualizedContent\"},\n
        \       \"DefenceEstablishment\": {\"@id\": \"schema:DefenceEstablishment\"},\n
        \       \"DefinedRegion\": {\"@id\": \"schema:DefinedRegion\"},\n        \"DefinedTerm\":
        {\"@id\": \"schema:DefinedTerm\"},\n        \"DefinedTermSet\": {\"@id\":
        \"schema:DefinedTermSet\"},\n        \"DefinitiveLegalValue\": {\"@id\": \"schema:DefinitiveLegalValue\"},\n
        \       \"DeleteAction\": {\"@id\": \"schema:DeleteAction\"},\n        \"DeliveryChargeSpecification\":
        {\"@id\": \"schema:DeliveryChargeSpecification\"},\n        \"DeliveryEvent\":
        {\"@id\": \"schema:DeliveryEvent\"},\n        \"DeliveryMethod\": {\"@id\":
        \"schema:DeliveryMethod\"},\n        \"DeliveryTimeSettings\": {\"@id\": \"schema:DeliveryTimeSettings\"},\n
        \       \"Demand\": {\"@id\": \"schema:Demand\"},\n        \"DemoAlbum\":
        {\"@id\": \"schema:DemoAlbum\"},\n        \"Dentist\": {\"@id\": \"schema:Dentist\"},\n
        \       \"Dentistry\": {\"@id\": \"schema:Dentistry\"},\n        \"DepartAction\":
        {\"@id\": \"schema:DepartAction\"},\n        \"DepartmentStore\": {\"@id\":
        \"schema:DepartmentStore\"},\n        \"DepositAccount\": {\"@id\": \"schema:DepositAccount\"},\n
        \       \"Dermatologic\": {\"@id\": \"schema:Dermatologic\"},\n        \"Dermatology\":
        {\"@id\": \"schema:Dermatology\"},\n        \"DiabeticDiet\": {\"@id\": \"schema:DiabeticDiet\"},\n
        \       \"Diagnostic\": {\"@id\": \"schema:Diagnostic\"},\n        \"DiagnosticLab\":
        {\"@id\": \"schema:DiagnosticLab\"},\n        \"DiagnosticProcedure\": {\"@id\":
        \"schema:DiagnosticProcedure\"},\n        \"Diet\": {\"@id\": \"schema:Diet\"},\n
        \       \"DietNutrition\": {\"@id\": \"schema:DietNutrition\"},\n        \"DietarySupplement\":
        {\"@id\": \"schema:DietarySupplement\"},\n        \"DigitalAudioTapeFormat\":
        {\"@id\": \"schema:DigitalAudioTapeFormat\"},\n        \"DigitalDocument\":
        {\"@id\": \"schema:DigitalDocument\"},\n        \"DigitalDocumentPermission\":
        {\"@id\": \"schema:DigitalDocumentPermission\"},\n        \"DigitalDocumentPermissionType\":
        {\"@id\": \"schema:DigitalDocumentPermissionType\"},\n        \"DigitalFormat\":
        {\"@id\": \"schema:DigitalFormat\"},\n        \"DisabilitySupport\": {\"@id\":
        \"schema:DisabilitySupport\"},\n        \"DisagreeAction\": {\"@id\": \"schema:DisagreeAction\"},\n
        \       \"Discontinued\": {\"@id\": \"schema:Discontinued\"},\n        \"DiscoverAction\":
        {\"@id\": \"schema:DiscoverAction\"},\n        \"DiscussionForumPosting\":
        {\"@id\": \"schema:DiscussionForumPosting\"},\n        \"DislikeAction\":
        {\"@id\": \"schema:DislikeAction\"},\n        \"Distance\": {\"@id\": \"schema:Distance\"},\n
        \       \"DistanceFee\": {\"@id\": \"schema:DistanceFee\"},\n        \"Distillery\":
        {\"@id\": \"schema:Distillery\"},\n        \"DonateAction\": {\"@id\": \"schema:DonateAction\"},\n
        \       \"DoseSchedule\": {\"@id\": \"schema:DoseSchedule\"},\n        \"DoubleBlindedTrial\":
        {\"@id\": \"schema:DoubleBlindedTrial\"},\n        \"DownloadAction\": {\"@id\":
        \"schema:DownloadAction\"},\n        \"Downpayment\": {\"@id\": \"schema:Downpayment\"},\n
        \       \"DrawAction\": {\"@id\": \"schema:DrawAction\"},\n        \"Drawing\":
        {\"@id\": \"schema:Drawing\"},\n        \"DrinkAction\": {\"@id\": \"schema:DrinkAction\"},\n
        \       \"DriveWheelConfigurationValue\": {\"@id\": \"schema:DriveWheelConfigurationValue\"},\n
        \       \"DrivingSchoolVehicleUsage\": {\"@id\": \"schema:DrivingSchoolVehicleUsage\"},\n
        \       \"Drug\": {\"@id\": \"schema:Drug\"},\n        \"DrugClass\": {\"@id\":
        \"schema:DrugClass\"},\n        \"DrugCost\": {\"@id\": \"schema:DrugCost\"},\n
        \       \"DrugCostCategory\": {\"@id\": \"schema:DrugCostCategory\"},\n        \"DrugLegalStatus\":
        {\"@id\": \"schema:DrugLegalStatus\"},\n        \"DrugPregnancyCategory\":
        {\"@id\": \"schema:DrugPregnancyCategory\"},\n        \"DrugPrescriptionStatus\":
        {\"@id\": \"schema:DrugPrescriptionStatus\"},\n        \"DrugStrength\": {\"@id\":
        \"schema:DrugStrength\"},\n        \"DryCleaningOrLaundry\": {\"@id\": \"schema:DryCleaningOrLaundry\"},\n
        \       \"Duration\": {\"@id\": \"schema:Duration\"},\n        \"EBook\":
        {\"@id\": \"schema:EBook\"},\n        \"EPRelease\": {\"@id\": \"schema:EPRelease\"},\n
        \       \"EUEnergyEfficiencyCategoryA\": {\"@id\": \"schema:EUEnergyEfficiencyCategoryA\"},\n
        \       \"EUEnergyEfficiencyCategoryA1Plus\": {\"@id\": \"schema:EUEnergyEfficiencyCategoryA1Plus\"},\n
        \       \"EUEnergyEfficiencyCategoryA2Plus\": {\"@id\": \"schema:EUEnergyEfficiencyCategoryA2Plus\"},\n
        \       \"EUEnergyEfficiencyCategoryA3Plus\": {\"@id\": \"schema:EUEnergyEfficiencyCategoryA3Plus\"},\n
        \       \"EUEnergyEfficiencyCategoryB\": {\"@id\": \"schema:EUEnergyEfficiencyCategoryB\"},\n
        \       \"EUEnergyEfficiencyCategoryC\": {\"@id\": \"schema:EUEnergyEfficiencyCategoryC\"},\n
        \       \"EUEnergyEfficiencyCategoryD\": {\"@id\": \"schema:EUEnergyEfficiencyCategoryD\"},\n
        \       \"EUEnergyEfficiencyCategoryE\": {\"@id\": \"schema:EUEnergyEfficiencyCategoryE\"},\n
        \       \"EUEnergyEfficiencyCategoryF\": {\"@id\": \"schema:EUEnergyEfficiencyCategoryF\"},\n
        \       \"EUEnergyEfficiencyCategoryG\": {\"@id\": \"schema:EUEnergyEfficiencyCategoryG\"},\n
        \       \"EUEnergyEfficiencyEnumeration\": {\"@id\": \"schema:EUEnergyEfficiencyEnumeration\"},\n
        \       \"Ear\": {\"@id\": \"schema:Ear\"},\n        \"EatAction\": {\"@id\":
        \"schema:EatAction\"},\n        \"EditedOrCroppedContent\": {\"@id\": \"schema:EditedOrCroppedContent\"},\n
        \       \"EducationEvent\": {\"@id\": \"schema:EducationEvent\"},\n        \"EducationalAudience\":
        {\"@id\": \"schema:EducationalAudience\"},\n        \"EducationalOccupationalCredential\":
        {\"@id\": \"schema:EducationalOccupationalCredential\"},\n        \"EducationalOccupationalProgram\":
        {\"@id\": \"schema:EducationalOccupationalProgram\"},\n        \"EducationalOrganization\":
        {\"@id\": \"schema:EducationalOrganization\"},\n        \"EffectivenessHealthAspect\":
        {\"@id\": \"schema:EffectivenessHealthAspect\"},\n        \"Electrician\":
        {\"@id\": \"schema:Electrician\"},\n        \"ElectronicsStore\": {\"@id\":
[...]
